{% extends 'base.html.twig' %}

{% block  mystyle %}
{% endblock %}

{% block body %}
    <h1>System rezerwacji sal</h1>
    
    Witaj na stronie systemu rezerwacji sal!
    
    <br/>
    
    <a href="{{ path('list_classroom')}}">Lista sal</a>
{% endblock %}

