.srs_timetable {
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
    text-align: center;
}
.srs_timetable td, th {width: 170px; height: 70px; border: 1px solid #cccccc; margin: 0px; padding: 0px;}

.srs_timetable th {
    text-align: center;
}

.reservation-info {
	margin: 0px; 
	padding: 0px; 
	overflow-y: auto; 
	font-size: 11px;
}